.App {
  text-align: center;
  width: auto;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
  The following css attributes are the ones added by Jordan and Travis
*/

.textBox {
  text-align: center;
  background-color: rgb(0, 0, 0, .8); /* Dark grey for the game container */
  color: white;
  padding: 60px; 
  border-radius: 200px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
  max-width: 1200px; 
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inventoryBox {
  text-align: center;
  background-color: rgb(0, 0, 0, .8); /* Dark grey for the game container */
  color: white;
  padding: 60px; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
  max-width: 1200px;
  margin: 0;
  margin-bottom: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.weaponBox {
  text-align: center;
  background-color: rgb(0, 0, 0, .8); /* Dark grey for the game container */
  color: white;
  padding: 60px; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
  max-width: 1200px;
  margin: 0;
  margin-bottom: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
}


.textBox button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.textBox button:hover {
  color: rgb(0, 255, 38);
}

.inventory {
  margin-bottom: 1px;
  margin-left : 1px;
  width: 100px;
  height: 100px;
  color: green;
  position: fixed;
  bottom: 0;
}

.inventory-button {
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 100%
}

.inventory-image {
  width: 80%;
  height: 80%;
}

.weapon {
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
  position: fixed;
}

.hp-num {
  position: absolute;
  top: 0;
  right:0;
  color: rgb(112, 255, 112);
  background-color: rgb(0, 0, 0, .5);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.enemy-hp-num {
  position: absolute;
  top: 0;
  left:0;
  color: rgb(251, 5, 5);
  background-color: rgb(0, 0, 0, .5);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}